{% extends "app_layout.html" %}

{% block heading %}
<div class="head">
    <div class="cgpa-head">
        <h1>CGPA calculator</h1>
        <h1 class="department-title">AGRICULTURE <br class="title-break">ENGINEERING</h1>
        <h1>REGULATION 2017</h1>
    </div>
    <h1>SEMESTER 7</h1>
</div>
{% endblock %}

{% block body %}
<div class="body-table-container">
    <form action="{{ url_for('findGPA') }}" id="sem7" method="POST">
        <input type="text" class="sem-hidden" name="semester" value="agri_sem7" style="display: none;">
        <input type="number" class="hidden-subject-no" name='subject_no' min="9" max="9" value="9" >
        <table>
            <tr class="table-head">
                <th>SUBJECT </th>
                <th>CREDITS </th>
                <th>GRADE </th>
            </tr>
            <tr>
                <td>
                    <label for="sub1">AI8701
                        Soil and Water Conservation Engineering</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub1" value="3" required>
                </td>
                <td>
                    <select name="sub1_grade" id="sub1_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub2">AI8702
                        Remote Sensing and Geographical Information
                        System</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub2" value="3" required>
                </td>
                <td>
                    <select name="sub2_grade" id="sub2_grade" form="sem7" required>
                        <option value="10"selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub3">AI8703
                        Bio-Energy Resource Technology</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub3" value="3" required>
                </td>
                <td>
                    <select name="sub3_grade" id="sub3_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub4">PROFESSIONAL ELECTIVE-4 <br>
                        <select name="professional-elective_4" id="professional-elective_4">
                            <option value="AI8009">AI8009
                                Refrigeration and Air Conditioning for <br>
                                 Agricultural Engineers</option>
                            <option value="AI8010">AI8010
                                Storage and Packaging Technology</option>
                            <option value="AI8011">AI8011
                                Seed Processing Technology</option>
                            <option value="AI8012">AI8012
                                Heat and Mass Transfer for <br>
                                 Agricultural Engineers</option>
                            <option value="AI8013">AI8013
                                Process Engineering of Fruits and Vegetables</option>
                            <option value="GE8077">GE8077
                                Total Quality Management</option>
                            <option value="GE8072">GE8072
                                Foundation Skills In Integrated Product Development</option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub4" value="3" required>
                </td>
                <td>
                    <select name="sub4_grade" id="sub4_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub5">OPEN ELECTIVE-2</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub5" value="3" required>
                </td>
                <td>
                    <select name="sub5_grade" id="sub5_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub6">AI8711
                        GIS Laboratory for Agricultural Engineers</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub6" value="2" required>
                </td>
                <td>
                    <select name="sub6_grade" id="sub6_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub7">AI8712
                        Renewable Energy Laboratory</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub7" value="2" required>
                </td>
                <td>
                    <select name="sub7_grade" id="sub7_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub8">AI8713
                        ICT in Agricultural Engineering Lab Excercises</label>
                </td>
                <td>
                    <input type="number" min="1" max="4" name="sub8" value="1" required>
                </td>
                <td>
                    <select name="sub8_grade" id="sub8_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub9">AI8714
                        Industrial Training</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub9" value="2" required>
                </td>
                <td>
                    <select name="sub9_grade" id="sub9_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="error-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Calculate GPA" class="calculate-gpa-btn">
    </form>
</div>
{% endblock %}