{% extends "app_layout.html" %}

{% block heading %}
<div class="head">
    <div class="cgpa-head">
        <h1>CGPA calculator</h1>
        <h1 class="department-title">ELECTRONICS <br class="title-break"> AND  <br class="title-break">INSTRUMENTATION ENGINEERING</h1>
        <h1>REGULATION 2017</h1>
    </div>
    <h1>SEMESTER 7</h1>
</div>
{% endblock %}

{% block body %}
<div class="body-table-container">
    <form action="{{ url_for('findGPA') }}" id="sem7" method="POST">
        <input type="text" class="sem-hidden" name="semester" value="eie_sem7" style="display: none;">
        <input type="number" class="hidden-subject-no" name='subject_no' min="8" max="8" value="8" >
        <table>
            <tr class="table-head">
                <th>SUBJECT </th>
                <th>CREDITS </th>
                <th>GRADE </th>
            </tr>
            <tr>
                <td>
                    <label for="sub1">EI8751-INDUSTRIAL DATA NETWORKS</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub1" value="3" required>
                </td>
                <td>
                    <select name="sub1_grade" id="sub1_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub2">EE8691-EMBEDDED SYSTEMS</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub2" value="3" required>
                </td>
                <td>
                    <select name="sub2_grade" id="sub2_grade" form="sem7" required>
                        <option value="10"selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub3">EC8093-DIGITAL IMAGE PROCESSING</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub3" value="3" required>
                </td>
                <td>
                    <select name="sub3_grade" id="sub3_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub4">PROFESSIONAL ELECTIVE-3
                        <select name="professional-elective_3" id="professional-elective_3">
                            <option value="EI8075">EI8075-FIBRE OPTICS AND LASER INSTRUMENTATION</option>
                            <option value="EE8391">EE8391-ELECTROMAGNETIC THEORY</option>
                            <option value="GE8071">GE8071-DISASTER MANAGEMENT</option>
                            <option value="GE8074">GE8074-HUMAN RIGHTS</option>
                            <option value="MG8074">MG8074-OPERATIONS RESEARCH</option>
                            <option value="GE8072">GE8072-FOUNDATION SKILLS IN INTEGRATED PRODUCT DEVELOPMENT</option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub4" value="3" required>
                </td>
                <td>
                    <select name="sub4_grade" id="sub4_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub5">PROFESSIONAL ELECTIVE-4
                        <select name="professional_elective_4" id="professional_elective_4">
                            <option value="EI8092">EI8092-THERMAL POWER PLANT INSTRUMENTATION</option>
                            <option value="EC8091">EC8091-ADVANCED DIGITAL SIGNAL PROCESSING</option>
                            <option value="EI8076">EI8076-OPTIMAL CONTROL</option>
                            <option value="TL8071">TL8071-RADAR AND NAVIGATIONAL AIDS</option>
                            <option value="GE8077">GE8077-TOTAL QUALITY MANAGEMENT</option>
                            <option value="EC8095">EC8095-VLSI DESIGN</option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub5" value="3" required>
                </td>
                <td>
                    <select name="sub5_grade" id="sub5_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub6">OPEN ELECTIVE-2</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub6" value="3" required>
                </td>
                <td>
                    <select name="sub6_grade" id="sub6_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub7">EI8761-INDUSTRIAL AUTOMATION LABORATORY</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub7" value="2" required>
                </td>
                <td>
                    <select name="sub7_grade" id="sub7_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub8">EI8762-INSTRUMENTATION SYSTEM LABORATORY</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub8" value="2" required>
                </td>
                <td>
                    <select name="sub8_grade" id="sub8_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="error-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Calculate GPA" class="calculate-gpa-btn">
    </form>
</div>
{% endblock %}