{% extends "app_layout.html" %}

{% block heading %}
<div class="head">
    <div class="cgpa-head">
        <h1>CGPA calculator</h1>
        <h1 class="department-title">INFORMATION <br class="title-break">TECHNOLOGY</h1>
        <h1>REGULATION 2017</h1>
    </div>
    <h1>SEMESTER 6</h1>
</div>
{% endblock %}

{% block body %}
<div class="body-table-container">
    <form action="{{ url_for('findGPA') }}" id="sem6" method="POST">
        <input type="text" class="sem-hidden" name="semester" value="it_sem6" style="display: none;">
        <input type="number" class="hidden-subject-no" name='subject_no' min="10" max="10" value="10" >
        <table>
            <tr class="table-head">
                <th>SUBJECT </th>
                <th>CREDITS </th>
                <th>GRADE </th>
            </tr>
            <tr>
                <td>
                    <label for="sub1">IT8601
                        Computational Intelligence</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub1" value="3" required>
                </td>
                <td>
                    <select name="sub1_grade" id="sub1_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub2">CS8592
                        Object Oriented Analysis and Design</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub2" value="3" required>
                </td>
                <td>
                    <select name="sub2_grade" id="sub2_grade" form="sem6" required>
                        <option value="10"selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub3">IT8602
                        Mobile Communication</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub3" value="3" required>
                </td>
                <td>
                    <select name="sub3_grade" id="sub3_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub4">CS8091
                        Big Data Analytics</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub4" value="3" required>
                </td>
                <td>
                    <select name="sub4_grade" id="sub4_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub5">CS8092
                        Computer Graphics and Multimedia</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub5" value="3" required>
                </td>
                <td>
                    <select name="sub5_grade" id="sub5_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub6">PROFESSIONAL ELECTIVE-1
                        <select name="professional_elective_1" id="professional_elective_1">
                            <option value="IT8076">IT8076
                                Software Testing</option>
                            <option value="CS8077">CS8077
                                Graph Theory and Applications</option>
                            <option value="IT8071">IT8071
                                Digital Signal Processing</option>
                            <option value="IT8001">IT8001
                                Information Storage and Management</option>
                            <option value="CS8072">CS8072
                                Agile Methodologies</option>
                            <option value="IT8072">IT8072
                                Embedded Systems</option>
                            <option value="GE8075">GE8075
                                Intellectual Property Rights</option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub6" value="3" required>
                </td>
                <td>
                    <select name="sub6_grade" id="sub6_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub7">CS8662
                        Mobile Application Development Laboratory</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub7" value="2" required>
                </td>
                <td>
                    <select name="sub7_grade" id="sub7_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub8">CS8582
                        Object Oriented Analysis and Design Laboratory</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub8" value="2" required>
                </td>
                <td>
                    <select name="sub8_grade" id="sub8_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub9">IT8611
                        Mini Project</label>
                </td>
                <td>
                    <input type="number" min="1" max="4" name="sub9" value="1" required>
                </td>
                <td>
                    <select name="sub9_grade" id="sub9_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub10">HS8581
                        Professional Communication</label>
                </td>
                <td>
                    <input type="number" min="1" max="4" name="sub10" value="1" required>
                </td>
                <td>
                    <select name="sub10_grade" id="sub10_grade" form="sem6" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="error-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Calculate GPA" class="calculate-gpa-btn">
    </form>
</div>
{% endblock %}