{% extends "app_layout.html" %}

{% block heading %}
<div class="head">
    <div class="cgpa-head">
        <h1>CGPA calculator</h1>
        <h1 class="department-title">MECHANICAL <br class="title-break">ENGINEERING</h1>
        <h1>REGULATION 2017</h1>
    </div>
    <h1>SEMESTER 7</h1>
</div>
{% endblock %}

{% block body %}
<div class="body-table-container">
    <form action="{{ url_for('findGPA') }}" id="sem7" method="POST">
        <input type="text" class="sem-hidden" name="semester" value="mech_sem7" style="display: none;">
        <input type="number" class="hidden-subject-no" name='subject_no' min="9" max="9" value="9" >
        <table>
            <tr class="table-head">
                <th>SUBJECT </th>
                <th>CREDITS </th>
                <th>GRADE </th>
            </tr>
            <tr>
                <td>
                    <label for="sub1">ME8792
                        Power Plant Engineering</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub1" value="3" required>
                </td>
                <td>
                    <select name="sub1_grade" id="sub1_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub2">ME8793
                        Process Planning and Cost
                        Estimation</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub2" value="3" required>
                </td>
                <td>
                    <select name="sub2_grade" id="sub2_grade" form="sem7" required>
                        <option value="10"selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub3">ME8791
                        Mechatronics</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub3" value="3" required>
                </td>
                <td>
                    <select name="sub3_grade" id="sub3_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub4">OPEN ELECTIVE-2</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub4" value="3" required>
                </td>
                <td>
                    <select name="sub4_grade" id="sub4_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub5">PROFESSIONAL ELECTIVE-2 <br>
                        <select name="professional_elective_2" id="professional_elective_2">
                            <option value="ME8071">ME8071
                                Refrigeration and Air conditioning</option>
                            <option value="ME8072">ME8072
                                Renewable Sources of Energy</option>
                            <option value="ME8098">ME8098
                                Quality Control and Reliability Engineering</option>
                            <option value="ME8073">ME8073
                                Unconventional Machining Processes</option>
                            <option value="MG8491">MG8491
                                Operations Research</option>
                            <option value="MF8071">MF8071
                                Additive Manufacturing</option>
                            <option value="GE8077">GE8077
                                Total Quality Management</option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub5" value="3" required>
                </td>
                <td>
                    <select name="sub5_grade" id="sub5_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub6">PROFESSIONAL ELECTIVE-3 <br>
                        <select name="professional-elective_3" id="professional-elective_3">
                            <option value="ME8099">ME8099
                                Robotics</option>
                            <option value="ME8095">ME8095
                                Design of Jigs, Fixtures and Press Tools</option>
                            <option value="ME8093">ME8093
                                Computational Fluid Dynamics</option>
                            <option value="ME8097">ME8097
                                Non Destructive Testing and Evaluation</option>
                            <option value="ME8092">ME8092
                                Composite Materials and Mechanics</option>
                            <option value="GE8072">GE8072
                                Foundation Skills in Integrated Product Development</option>
                            <option value="GE8074">GE8074
                                Human Rights</option>
                            <option value="GE8071">GE8071
                                Disaster Management</option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub6" value="3" required>
                </td>
                <td>
                    <select name="sub6_grade" id="sub6_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub7">ME8711
                        Simulation and Analysis Laboratory</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub7" value="2" required>
                </td>
                <td>
                    <select name="sub7_grade" id="sub7_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub8">ME8781
                        Mechatronics Laboratory</label>
                </td>
                <td>
                    <input type="number" min="2" max="4" name="sub8" value="2" required>
                </td>
                <td>
                    <select name="sub8_grade" id="sub8_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub9">ME8712
                        Technical Seminar</label>
                </td>
                <td>
                    <input type="number" min="1" max="4" name="sub9" value="1" required>
                </td>
                <td>
                    <select name="sub9_grade" id="sub9_grade" form="sem7" required>
                        <option value="10" selected>O</option>
                        <option value="9">A+</option>
                        <option value="8">A</option>
                        <option value="7">B+</option>
                        <option value="6">B</option>
                        <option value="0">U</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="error-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Calculate GPA" class="calculate-gpa-btn">
    </form>
</div>
{% endblock %}